<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <!-- Primary Meta Tags -->
    <title>Mack Nelson | Designer & Developer</title>
    <meta name="title" content="Mack Nelson | Designer & Developer">
    <meta name="description" content="Mack Nelson designs and develops websites and leads teams that do the same. Check out his portfolio website.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://macknelson.com/">
    <meta property="og:title" content="Mack Nelson | Designer & Developer">
    <meta property="og:description" content="Mack Nelson designs and develops websites and leads teams that do the same. Check out his portfolio website.">
    <meta property="og:image" content="https://i.imgur.com/GQgNAGm.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://macknelson.com/">
    <meta property="twitter:title" content="Mack Nelson | Designer & Developer">
    <meta property="twitter:description" content="Mack Nelson designs and develops websites and leads teams that do the same. Check out his portfolio website.">
    <meta property="twitter:image" content="https://i.imgur.com/GQgNAGm.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="icon" href="https://i.imgur.com/FQDpnux.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/assets/fonts/scoutstylesheet.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>